{% load static %}
<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reports</title>

  <!-- CSS files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/starter-template/starter-template.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>
<body ng-controller="DashboardCtrl" >
  <nav class="navbar navbar-expand-md navbar bg-light fixed-top">
    <a class="navbar-brand" href="#">DULSCO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Precision Buying <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1">Travel</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Analytics</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Dashboard 1</a>
            <a class="dropdown-item" href="#">Dashboard 2</a>
            <a class="dropdown-item" href="#">Dashboard 3</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <main role="main" class="container">

    <div class="row mb-5">
      <div class="col">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {[{ selectedBuyer }]}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" ng-click="setSelectedBuyer(buyer)" ng-repeat="buyer in buyers">{[{ buyer }]}</a>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {[{ selectedDepartment }]}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" ng-click="setSelectedDepartment(department)" ng-repeat="department in departments">{[{ department }]}</a>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            {[{ selectedMember }]}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" ng-click="setSelectedMember(member)" ng-repeat="member in members">{[{ member }]}</a>
          </div>
        </div>
      </div>
      <div class="col">
        <input type="text" date-range-picker class="float-right"
               name="date-filter"
               style="width:45%"
               ng-model="dateRangePicker.date"
               options="dateRangePicker.options"
        >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5 class="text-muted font-weight-bold">TAIL SPEND METRICS</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm" ng-repeat="chart in charts">
        <highchart id="chart1" config="chart.chart_config"></highchart>
      </div>
    </div>
  </main><!-- /.container -->


  <!-- Javascript files -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- AngularJS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.js"></script>
  <!-- Highcharts.js -->
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.src.js"></script>
  <!-- Highchart-ng directive -->
  <script type="text/javascript" src="{% static 'dashboard/js/highcharts-ng.min.js' %}"></script>
  <!-- Daterange picker -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <!-- Angular Daterange picker -->
  <script type="text/javascript" src="{% static 'dashboard/js/angular-daterangepicker.min.js' %}"></script>
  <script src="{% static 'dashboard/js/angular-daterangepicker.min.js.map' %}"></script>
  <!-- Dashboard app -->
  <script type="text/javascript" src="{% static 'dashboard/js/app.js' %}"></script>
  <script type="text/javascript">
    angular.module('app.config', [])
        .constant('SERVER_CONFIG', {
          INITIAL_DATA: {{ data | safe }}
        });

  </script>
</body>
</html>